.center, .center-column, .top, .right, .bottom, .left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column{
    flex-direction: column;   
}
.top { align-items: flex-start;}
.right { justify-content: flex-end;}
.bottom { align-items: flex-end;}
.left { justify-content: flex-start;}

.single-spaced{
line-height: 1;
}

@media (max-width: 1024px){
    .desktop {
        display: none;
    }
}

.hero{
    background: url(./alfons-morales-YLSwjSy7stw-unsplash.jpg) center / cover;
    border: solid 30px #ff9100;   
}
@media(max-width:1024px){.hero{background: url(./alfons-morales-YLSwjSy7stw-unsplash.jpg) center / cover;}}
@media(max-width: 768px){.hero{background: url(./alfons-morales-YLSwjSy7stw-unsplash.jpg) center / cover;}}
body{
    font-family: verdana;
}
#navbar{
    background: rgb(245, 172, 36); 
    border: solid rgb(250, 185, 64) 15px; 
    border-radius: 7px;
    display: flexbox; 
    flex-wrap: wrap; 
    flex-direction: column;
}
.main-title{
    border: solid rgb(250, 185, 64) 15px;
    color:rgb(13, 13, 87);;
    background: rgb(245, 172, 36);;
    padding: 10px;
    border-radius: 7px;
}
#search-btn{
    border-color: rgb(243, 245, 247);    
    background: #ff9100;
    color: navy;
    flex: auto;
    flex-direction: column;
    cursor: pointer;    
}
#code-quiz{ 
    border-color: rgb(243, 245, 247);   
    background: #ff9100;
    color: navy;
    flex: auto;
    flex-direction: column;
    cursor: pointer;    
}
#saved-book{
    border-color: rgb(243, 245, 247);    
    background: #ff9100;
    color: navy;
    flex: auto;
    flex-direction: column;
    cursor: pointer;
}
#contact-btn{
    border-color: rgb(243, 245, 247);
    background: #ff9100;
    color: navy;
    flex: auto;
    flex-direction: column;
    cursor: pointer;   
}
#search-btn:hover{
    background:rgb(217, 241, 161)
}
#code-quiz:hover{
    background:rgb(217, 241, 161)
}
#saved-book:hover{
    background:rgb(217, 241, 161)
}
#contact-btn:hover{
    background:rgb(217, 241, 161)
}
.bookOfTheMonth{
    background: rgb(245, 172, 36); 
    border: solid rgb(250, 185, 64) 25px; 
    border-radius: 7px;
    display: flexbox; 
    flex-wrap: wrap; 
    flex-direction: column;
}
.book_of_month_1{
    color: rgb(2, 2, 83);
}
.book_of_month_2{
    font-size: large;
    color: rgb(2, 2, 83);
}
#book-finder-quiz{
    background: rgb(245, 172, 36); 
    border: solid rgb(250, 185, 64) 25px; 
    border-radius: 7px;
    display: flexbox; 
    flex-wrap: wrap; 
    flex-direction: column;
}
.quiz_page_1{
    color: rgb(2, 2, 83);
}
.quiz_page_2{
    font-size: large;
    color: rgb(2, 2, 83);
}
#book-finder-search-btn{
    border-color: rgb(243, 245, 247);    
    background: #ff9100;
    color: navy;
    flex: auto;
    flex-direction: column;
    cursor: pointer;    
}
#book-finder-search-btn:hover{
    background: rgb(217, 241, 161)
}

.image-gif-holder{
    background: rgb(245, 172, 36); 
    border: solid rgb(250, 185, 64) 25px; 
    border-radius: 7px;
    display: flexbox; 
    flex-wrap: wrap; 
    flex-direction: column;
    height: 750px;
}
.search-by-option{
    background: rgb(245, 172, 36); 
    border: solid rgb(250, 185, 64) 25px; 
    border-radius: 7px;
    display: flexbox; 
    flex-wrap: wrap; 
    flex-direction: column;
    height: 750px;
}
textarea{
    background: transparent;
    size: flex;
    border: solid 2px 10px;
    resize:horizontal;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 50%;
    text-align: center;
}
textarea:hover{
      background: rgb(231, 181, 119);
}
#search-by-search-btn{
    border-color: rgb(243, 245, 247);    
    background: #ff9100;
    color: rgb(13, 13, 87);
    flex: auto;
    flex-direction: column;
    cursor: pointer;    
}
#search-by-search-btn:hover{
    background: rgb(217, 241, 161)
}
#search-by, #title_holder, #author, #genre{
    color: rgb(13, 13, 87);;
}
.image{
    border: solid #ff9100 5px;
}
#gif-placeholder{
    border: solid 2px 10px;
    background: rgb(189, 187, 187);
    height: 400px;
    display: flex;   
}
#img-placeholder{
    border: solid 2px 10px;
    background: rgb(189, 187, 187);
    height: 600px;
    display: flex;   
}
.pic-gif-placeholder{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.image-GIF{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#bookOfTheMonth-column{
    display: flexbox;
    height: 750px;
}
#bookOfTheMonth-column{
    display: flexbox;
    height: 750px;
}